.navbar{
    display: flex;
    background-color: rgb(255, 102, 0);
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 1;
}

.nav-item{
    padding: 0 3px;
    font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#222222;
}
.nav-item:first-child{
    font-weight: bold;
}
a{
    color: #000000;
}

.signin{
    align-self: end;
}

@media only screen
and (max-width : 750px) {
    .nav-links{
        flex-wrap: wrap;
    }
}